*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    
    font-size: 16px;
}

body{
    background-color: rgba(128, 128, 128, 0.618);
    height: 90%;
}
/*------------ header---------*/
header{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;

 }
header img{
    width: 130px;
    height: auto;
    margin: 0px 10px ;
}
header h1{
    font-size: 3rem;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.header-div nav{
    display: flex;
    justify-content: center;
}
.header-div a{
    text-decoration: none;
    padding: 0px 10px;
    border-right: 3px solid black;
    color: rgba(165, 42, 42, 0.811);
    font-size: 1.5rem; 
    text-align: center;
    margin-top: 20px;
}
.header-div a:hover{
    color: rgba(245, 245, 245, 0.636);
    transition: .3s;
}

/*------------section---------*/

section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px 50px;
    height: 1100px;
    
}
section img{
    max-width: 45%;
}

section h2{
    font-size: 3rem;
    text-align: center;
    margin-bottom: 8rem;
    
}

.section_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.section_div h3{
    font-size: 2.5rem;
    margin: 20px 0px;
    font-weight: bold;
}
.section_div p{
    font-size: 1.6rem;
    font-weight: lighter;
    margin: 20px 0px;
    width: 40rem;
}

/*------------footer---------*/

footer{
    background-color: gray;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

}
footer p{
    color: rgba(0, 0, 0, 0.554);
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;

}


/*------------media para rem---------*/

@media screen and (max-width: 540px){
    html{
        font-size: 12px;
    }
}